.PageError {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
  }


.Page__logo{
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: center;

}